* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #dbabf0;
}

.container {
  background-color: #c363ec;
  width: 90%; 
  max-width: 600px; 
  margin: 50px auto;
  padding: 20px;
  text-align: center;
  border: 1px solid #000;
  border-radius: 8px;
}

input {
  border-radius: 4px;
  outline: none;
  border: none;
  margin: 15px 0;
  max-width: 400px; 
}
@media (min-width: 768px) {
  .container {
    width: 60%;
    margin: 100px auto;
    padding: 40px;
  }

  input {
    padding: 10px;
  }
}
