*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #dbabf0;
}
.container{
  background-color: #c363ec;
  width: 50%;
  margin-left: 300px;
  margin-top: 100px;
  padding: 50px;
  text-align: center;
  justify-content: center;
  border: 1px solid ;
}
input{
padding: 7px;
border-radius: 4px;
outline: none;
border: none;
margin:20px 7px;
}
